/*----------------|
# Contact Section |
-----------------*/

.contact {
  width: 50%;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;

  & > header {
    text-align: center;
    margin: 20px 0;
  }

  & > form {
    width: 50%;
    margin: 0 auto;
    display: grid;
    gap: 8px;
    padding: 20px;

    & > input,
    & > textarea {
      width: 100%;
      border: 1px solid #ddd;
      outline: none;
      padding: 10px;
      border-radius: 8px;
      box-sizing: border-box;
    }

    & > input:focus,
    & > textarea:focus {
      outline: 2px solid #0073b1;
    }

    & > button {
      width: 100%;
      border: none;
      background-color: #e6f0f3;
      color: #0073b1;
      font-weight: 700;
      padding: 10px 15px;
      border-radius: 20px;
      cursor: pointer;
      margin-top: 10px;
    }

    & > button:hover {
      outline: 1px solid #72b9df;
    }
  }
}

/*-----------------------*/
/* Contact Message Card */
/*---------------------*/
.container-message-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(160, 160, 160, 0.103);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}

.contact-message-card {
  position: absolute;
  top: 25%;
  left: calc(25% - 25px);
  width: 50%;
  margin: auto;
  justify-content: center;
  padding: 15px;
  background-color: #ccc;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-wrap: balance;
  animation: card-contact 0.4s forwards;

  & p {
    text-align: center;
    font-weight: 500;

    & span {
      color: rgb(114, 147, 238);
    }
  }

  & button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 6px 8px;
    border: 0;
    border: 1px solid #999;
    border-radius: 100px;
    background-color: #0073b1;
    font-size: 14px;
    color: #f0f0f0;
    font-weight: 600;
    cursor: default;

    &:hover {
      opacity: 0.8;
      outline: 1px solid #1b1f23;
    }
  }
}
