body {
  font-family: system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
  background-color: #f3f2ef;
  margin: 0;
  padding: 0;
}

/*===========|
# Dark Mode =|
============*/

body.dark-mode {
  background-color: #000000;

  & header nav {
    background-color: #1b1f23;
    border-bottom: 1px solid #333;
    color: #e9e9e9;

    & a {
      color: #e9e9e9;
    }
  }
}

.dark-mode .profile-container,
.dark-mode .container-proyects,
.dark-mode .contact {
  background-color: #1b1f23;
  border: 1px solid #222;
  color: #e9e9e9;

  & .profile-picture {
    border: 3px solid #1b1f23;
  }

  & .contact-btn {
    background-color: #71b7fb;
    color: #1b1f23;
  }

  & .additional-info {
    border-top: 1px solid #333;

    & > button {
      background-color: transparent;
      border: 1px solid #0073b1;
    }
  }

  & .proyects > div {
    &:hover {
      filter: drop-shadow(0 0 8px #111);
    }
  }

  & input,
  textarea {
    background-color: transparent;
    border: 1px solid #444;
    color: #ccc;
  }

  & form button {
    background-color: #71b7fb;
    color: #1b1f23;
  }
}

/*------------|
# Nav Section |
-------------*/

header {
  & nav {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    overflow: hidden;

    & span {
      font-weight: 700;
      font-size: 22px;
      margin-top: 10px;
      margin-left: 8px;
    }

    & .solid-container {
      margin-left: 12px;
      margin-top: 3px;

      & img {
        width: 45px;
        height: 45px;
        display: inline-flex;

        &:hover {
          transform: scale(1.1);
          transition: transform 0.3s ease;
          filter: drop-shadow(1px 2px 6px #666);
        }
      }
    }

    & ul {
      position: absolute;
      right: 40px;
      top: 16px;
      display: inline-flex;

      & > li {
        list-style: none;
        margin-right: 16px;
        transform: translateY(-18px);

        & a {
          color: #000000;
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
        }

        & a:hover {
          color: #0073b1;
        }
      }
    }

    & .right-aside {
      position: absolute;
      top: 18px;
      right: 20px;
      display: flex;

      & svg {
        width: 18px;
        height: 18px;
        cursor: pointer;
      }
      & .sun-icon {
        display: none;
        width: 18px;
        height: 18px;

        fill: sandybrown;
      }
    }
  }
}

/*------------|
# Media query |
-------------*/

@media (width <= 900px) {
  header {
    & nav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;

      & span {
        display: none;
      }

      & .solid-container {
        & img {
          width: 40px;
          height: 40px;
          margin-top: 2px;
        }
      }

      & ul {
        display: none;
      }
    }
  }
  .profile-container {
    width: 100%;
    padding-top: 30px;
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
  .cover-photo {
    height: 80%;
  }
  .profile-picture {
    width: 80px;
    height: 80px;
    bottom: 0;
  }
  .profile-info {
    padding: 20px 20px 20px;

    & .left-panel-item {
      & img {
        display: none;
      }
      & p {
        margin: 0;
      }
    }

    & aside {
      top: -20px;
    }
  }

  .contact-btn {
    padding: 6px 12px;
  }

  .additional-info button {
    padding: 6px 10px;
    font-size: 13px;
    display: -webkit-box;
    overflow: hidden;
    border: 0;

    & svg {
      transform: translateY(3px);
    }
  }

  .more-btn-container {
    display: none;
    position: absolute;
    transform: translateX(20px) translateY(6px);
  }

  .contact-card-info {
    width: 80%;
    left: 10%;
    overflow-y: auto;
    overflow-x: auto;
  }

  .container-proyects {
    width: 100%;
    margin: 30px auto;
    border-radius: 0;
    border: 0;
    margin-block: 0;

    & .proyects {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      margin: 0 auto;
      gap: 30px;

      & > .card {
        margin: 0 auto;
      }
    }
  }

  .contact {
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
    border: 0;
  }

  .contact-message-card {
    position: absolute;
    left: calc(20% - 4px);
    padding: 20px;
    font-size: 14px;
    text-align: center;
    text-wrap: pretty;
  }
}

/*####################
/* Media Print Query #
####################*/

@media print {
  @page {
    margin: 20mm;
  }

  body {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3 {
    page-break-after: avoid;
  }
  header {
    display: none;
  }

  .profile-container {
    width: 100%;
    position: relative;
    top: -130px;
    border: 0;

    & header {
      border: 0;
    }

    & .additional-info {
      display: none;
    }
  }

  .cover-photo {
    display: none;
  }

  .profile-info {
    & h1 {
      margin-bottom: 10px;
    }
    & .left-panel-item img {
      margin-block: 5px;
      transform: translateY(-5px);
    }
  }

  .verified {
    display: none;
  }

  .container-proyects {
    height: fit-content;
    border: 0;

    & h2 {
      display: none;
    }

    & .proyects {
      display: none;
    }
  }

  #sobre-mi {
    position: relative;
    bottom: 100px;
  }

  .article-print {
    position: relative;
    top: -400px;
    width: 100%;
    page-break-inside: avoid;
  }

  .contact {
    display: none;
  }
}

@media (width <= 400px) {
  .profile-info {
    padding: 20px 20px 20px;

    & .left-panel-item {
      margin-top: 15px;
      & img {
        display: none;
      }
      & p {
        margin: 0;
      }
    }

    & aside {
      top: -20px;
    }
  }

  .additional-info button {
    padding: 4px 8px;
    font-size: 13px;
    display: -webkit-box;
    overflow: hidden;
    border: 0;

    & svg {
      transform: translateY(3px);
      display: none;
      margin: 0;
    }
  }

  .more-btn-container {
    display: none;
    position: absolute;
    transform: translateX(20px) translateY(9px);
  }

  .container-proyects {
    margin-block: 0;
  }
}
