* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica,
    Arial, sans-serif;
  background-color: #121212;
  color: #ddd;
  margin: 0;
  padding: 0;
}

#nav {
  position: relative;
  display: flex;
  background-color: #d8d8d867;
  backdrop-filter: blur(15px);
  width: 100%;
  height: 50px;
  align-items: center;
  padding: 0 15px;
}

#nav .logo {
  font-size: 24px;
  color: #ddd;
  font-weight: 600;
}

#nav #version {
  font-style: italic;
  margin-top: 6px;
  margin-inline: 5px;
}

main {
  width: 50%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reload button {
  border: none;
  background-color: #44444465;
  border: 1px solid #333;
  padding: 8px 8px;
  border-radius: 4px;
  cursor: pointer;
  outline: 1px solid #333;
  outline-offset: 3px;
  color: #ddd;
}

.reload button:hover {
  filter: brightness(125%);
}

.page {
  width: 100%;
  text-align: center;
}

.contenido-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.contenido-banner::after {
  content: "";
  position: absolute;
  bottom: 15px;
  width: 50%;
  height: 80px;
  padding: 20px;
  background-color: #444444;
  z-index: -1;
}

.contenido-banner::before {
  content: "";
  position: absolute;
  top: -20px;
  width: 50%;
  height: 150%;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 8px;
  z-index: -1;
}

.contenedor-img img {
  position: relative;
  border-radius: 50%;
  border: 4px solid #121212;
  width: 150px;
  height: 150px;
}

#fullname {
  margin-top: 10px;
}

.datos {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.col {
  width: 100%;
  max-width: 500px;
}

.col h3 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #444;
}

td {
  width: 100%;
  background-color: #222;
}

a {
  color: #ddd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.images-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media (width <= 760px) {
  main {
    width: 100%;
    padding-top: 55px;
  }
  #nav {
    position: fixed;
    top: 0;
  }
}
